/**
 * 
 * @author: kicoyu
 * 
 * @func: comment
 * 
 */

// header navigation
.list-block {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: block;
    margin-bottom: 45px;
    &>label,
    &>label>*,
    &>p,
    &>p>* {
      display: block;
    }
  }
  &.list-mg li {
    font-size: 12px;
    margin-bottom: 15px;
  }
}


/*     login:shine input line     
   ---      BEGAIN       ----*/

.ys-hr-bt {
  height: 1px;
  background: white;
}

.ys-input-bline {
  background: transparent;
  border: 0;
  width: 100%;
  font-size: 13px;
  padding: 5px 0;
  color: white;
  &:focus {
    outline: none;
    &+.ys-hr-bt {
      background: transparent;
      animation: glow 800ms ease-out infinite alternate;
      box-shadow: 0 1px 5px rgba(0, 255, 0, .2), inset 0 1px 5px rgba(0, 255, 0, .1);
    }
  }
}


/*     login:shine input line     
   ---       END       ----*/


/*         login:checkbox     
   ---      BEGIN       ----*/

.ys-choose-box,
.ys-cbox-input {
  cursor: pointer;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.ys-choose-box {
  -moz-user-select: none;
}

.ys-cbox-input {
  line-height: 1;
  outline: none;
  vertical-align: middle;
}

.ys-square-tick {
  background-color: #fff;
  border: 1px solid #c0ccda;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  height: 15px;
  position: relative;
  -webkit-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
  transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
  width: 15px;
  z-index: 1;
}

.ys-square-tick:hover:not(.isDisabled) {
  border-color: #4990e2;
}

.ys-square-tick::after {
  content: "";
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 8px;
  left: 5px;
  position: absolute;
  top: 2px;
  -webkit-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  width: 4px;
  -webkit-transition: -webkit-transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
  transition: -webkit-transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
  transition: transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
  -webkit-transform-origin: center;
  transform-origin: center;
}

input[type=checkbox]:checked+.ys-square-tick,
input[type=radio]:checked+.ys-square-tick {
  background-color: #4990e2;
  border-color: #2e90fe;
}

input[type=checkbox]:checked+.ys-square-tick::after,
input[type=radio]:checked+.ys-square-tick::after {
  -webkit-transform: rotate(45deg) scaleY(1);
  transform: rotate(45deg) scaleY(1);
}

.ys-cbox-origin {
  opacity: 0;
  outline: none;
  position: absolute;
  margin: 0;
  left: -999px;
}

.ys-cbox-label {
  font-size: 12px;
  padding-left: 5px;
}


/*       login:checkbox     
   ---      END       ----*/


/*          login:ripple     
   ---      BEGIN       ----*/

.ys-ripple {
  background-color: red;
  animation: ripple 2s forwards cubic-bezier(0, 0, 0.2, 1);
}


/*         login:ripple     
   ---      END       ----*/

.ys-hr-rline {
  height: 4px;
  background: #ffcf55;
  border-radius: 100px;
  width: 2rem;
  margin: 0 auto;
}


/*       login:svg effect     
   ---      BEGIN       ----*/

.ys-effect-btn {
  background: transparent;
  color: white;
}

.ys-effect-btn svg {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ys-effect-btn rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
}

.ys-effect-btn:hover {
  font-weight: 900;
  letter-spacing: 1px;
}

.ys-effect-btn:hover rect {
  stroke-width: 4;
  stroke-dasharray: 45, 364;
  stroke-dashoffset: 68;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


/*      login:svg effect     
   ---      END       ----*/

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  80% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes glow {
  0% {
    border-color: #3c75b6;
    box-shadow: 0 1px 5px rgba(73, 144, 226, .7), inset 0 1px 5px rgba(73, 144, 226, .5);
  }
  100% {
    border-color: #3c75b6;
    box-shadow: 0 1px 20px rgba(73, 144, 226, 1), inset 0 1px 10px rgba(73, 144, 226, .8);
  }
}


/**
 * 
 * @author: kicoyu
 * 
 * @page: home
 * 
 */

.title {
  border-left: .052083rem solid #f8c84f;
  font-size: .221354rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  padding-left: .130208rem;
}

.more {
  text-align: center;
  color: #d1d6df;
  font-size: .169271rem;
  margin: .260417rem 0 .390625rem;
  cursor: pointer;
  i {
    font-size: 0;
    width: .130208rem;
    height: .078125rem;
    vertical-align: middle;
    margin-right: .065104rem;
    display: inline-block;
    background: url(/static/img/icon_11.png) no-repeat 0 0;
    background-size: 100%;
  }
}

.famous {
  list-style: none;
  width: 100%;
  margin: 0 0 0 .16276rem;
  padding: 0;
}

.titile-list {
  display: block;
  color: #999;
  font-size: .169271rem;
  margin-top: .260417rem;
  p {
    margin: 0;
  }
  .name {
    color: #666;
    font-size: .221354rem;
    margin-bottom: .078125rem;
  }
}

.progress {
  margin-top: .260417rem;
  margin-bottom: .520833rem;
  & > p {
    color:#666;
    font-size:.195313rem;
    margin-bottom:.130208rem;
  }
  .bar {
    height:.097656rem;
    border-radius:100px;
    background:#e2e2e2;
    position:relative;
    .has {
      background:#f8c84f;
      position: absolute;
      height:.16276rem;
      top:-.032552rem;
      border-radius: 100px;
      span {
        position:absolute;
        right:-.390625rem;
        top:.16276rem;
        color:#f8c84f;
      }
    }
    & > span {
      font-size:.182292rem;
      color:#e2e2e2;
      position:absolute;
      right:0;
      top: .130208rem;
    }
  }
}