$num: 153.6;
@function rem($rem) {
  @return $rem / $num;
}

@mixin auto-mg($width) {
  width: $width;
  margin: 0 auto;
}

@mixin ys-psA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
